.table {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.table__header-Row {
  background-color: goldenrod;
  height: 50px;
}

.table__content-Row {
  border: 1px solid black;
  text-align: center;
}

.table__headerRow-body {
  border: 1px solid black;
}

.table__contentRow-body {
  border: 1px solid black;
}
